:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #c3b5b5;
}

.light-mode {
  background-color: #c3b5b5;
  color: #000;
}

.dark-mode {
  background-color: #353b3c;
  color: #fff;
}